{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>FitZone - Premium Fitness</title>
<link rel="stylesheet" href="{% static 'Card.css'%}">

</head>
<body>

<div class="Text-serv">
    <h2>Our Premium Services</h2>
    <p>Experience the best fitness training programs</p>
</div>

<div class="card-container">
    <div class="card">
        <img src="https://th.bing.com/th/id/OIP.nK0kn9OWTR3eDUvCeNOiiQHaEO?w=287&h=180&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3" alt="AI Trainer">
        <div class="card-content">
            <h3>AI Trainer</h3>
            <p>AI Trainer .</p>
            <button>Start Training</button>
        </div>
    </div>

    <div class="card">
        <img src="https://th.bing.com/th/id/OIP.A_ntWOzZrXC0YJXVaJV7AQHaE5?w=290&h=192&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3" alt="Group Classes">
        <div class="card-content">
            <h3>Book Trainer</h3>
            <p>Good Book trainer.</p>
            <button>Start Training</button>
        </div>
    </div>

    <div class="card">
        <img src="https://th.bing.com/th/id/OIP.M4pI-HEhC4lcxam_8febuQHaDT?w=342&h=156&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3" alt="Nutrition Planning">
        <div class="card-content">
            <h3>Become a member</h3>
            <p>good asdfasd.</p>
            <button>Join Now</button>
        </div>
    </div>
</div>

</body>
</html>
