
/* Section Title */
.trainer-section-title {
    text-align: center;
    margin-bottom: 40px;
}

.trainer-section-title h2 span {
    color: #f05c18;
}

/* Trainer Card */
.trainer-card {
    background-color: #1a1a1a;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease;
    height: 100%;
}

.trainer-card:hover {
    transform: translateY(-6px);
}

.trainer-img {
    height: 220px;
    object-fit: cover;
    width: 100%;
}

.trainer-body {
    padding: 15px;
}

.trainer-name {
    font-size: 18px;
    font-weight: 600;
}

.trainer-role {
    color: #aaaaaa;
    font-size: 14px;
}

.rating {
    color: #ffc107;
    font-size: 14px;
}

.availability {
    font-size: 13px;
    color: #f3a245;
}
.btn-book {
    width: 100%;
    padding: 12px 16px;
    background-color: #ec8343;
    color: #000000;
    font-weight: 600;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Hover */
.btn-book:hover {
    background-color: #d2af7e;
    color: #000000;
    transform: translateY(-2px);
}




@media (max-width: 576px) {

    .trainer-img {
        height: 180px;
    }

    .trainer-name {
        font-size: 16px;
    }

    .trainer-role {
        font-size: 13px;
    }

    .trainer-body {
        padding: 12px;
    }

    .btn-book {
        font-size: 14px;
        padding: 14px;
    }
}
